* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%) --Light-gray: hsl(212, 45%, 89%) --Grayish blue: hsl(220, 15%, 55%) --Dark blue: hsl(218, 44%, 22%)
    /* ## Colors */
}

body {
  background-color: hsl(212, 45%, 89%);
  font-size: 0.9rem;
  font-family: 'Outfit', sans-serif;
  padding: 2.5rem;
}
img{
  max-width: 100%;
}
h2{
  margin: 1rem auto;
  color: hsl(218, 44%, 22%);
  font-weight: bolder;
}
p{
  margin-bottom: 1rem;
  color:hsl(220, 15%, 55%);
}
.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.8rem;
  width: 305px;
  margin: 6rem auto 1rem;
  padding: 1rem;
  text-align: center;
}
.container img{
  border-radius: 0.6rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}